#comment {
    position: relative;
    background: transparent;
    caret-color: black;
    resize: none;
}

.comment-form-comment {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ghost-comment-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2px);
    height: 100%;
    font: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    pointer-events: none;
    color: #000;
    display: flex;
    flex-direction: column;
}

.ghost-comment-wrapper label {
    visibility: hidden;
}

#comment-mirror {
    height: 100%;
    width: auto;
    padding: calc(.667em + 2px);
    color: transparent;
    letter-spacing: normal;
}

#comment-mirror .ghost {
    color: #999;
    font-style: italic;
    margin-left: 5px;
}

#ghost-suggestion {
    display: none;
    margin-top: 5px;
    font-size: 14px;
    color: #999;
    font-style: italic;
}

.ghost {
    color: #aaa;
}